@font-face {
    font-family: Encode_Sans; 
    src: url(EncodeSans-VariableFont_wdth\,wght.ttf);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
:root {
    --black: rgba(33, 33, 33, 1);
    --white: rgba(246, 241, 233, 1);
    --red: rgba(253, 65, 65, 1);
    --orange: rgba(255, 132, 0, 1);
    --green: rgba(46, 199, 64, 1);
}

body {
    font-family: Encode_Sans;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}


#phone { /*Iphone 15 pro*/
    padding: 85px 40px 55px 40px;
    height: 852px;
    width: 393px;
    background-color: var(--black);
    position: relative;

}
.title {
    font-size: 38px ;
    font-weight: bold;
    color: var(--orange);
    padding-bottom: 64px;
}
.button {
    background-color: var(--orange);
    padding: 5px 30px;
    border-radius: 30px;
    font-size: 24px;

}
.button:active {
    background-color: rgb(163, 84, 0) ;

}
.buttonsDown {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 55px; 
    left: 40px;
    right: 40px;
    
    
}
.chooseTitle {
    font-size: 26px;
    text-align: center;
    color: var(--orange);
    border-bottom: 1px solid var(--orange);
    padding-bottom: 5px;
}
.threeChoices {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;

}
.choice {
    font-size: 24px;
    color: var(--orange);
}
.radioButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 110px;
    padding-top: 8px;
    
}
.rbutton {
    appearance: none;
    width: 20px;
    height: 20px;
    outline: none;
    background-color: var(--black);
    border: 1px solid var(--orange);
    cursor: pointer;
    border-radius: 50%;
    
}
.rbutton:checked {
    background-color: var(--orange);
}
.SizeBoilBox {
    padding-bottom: 64px;
}

.eggLayout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#bigEgg {
    width: 110px;
    height: 170px;
    background-color: var(--white);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#time {
    font-size: 64px;
    color: var(--orange);
}
.textInsideEgg {
    font-size: 26px;
}







/*
List Page
*/

#listPage {
    display: none;
}

#container {
    height: 450px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 25px;
    
}

.eggsInContainer {
    width: 87px;
    height: 135px;
    background-color: var(--white);
    border-radius: 100%;
    text-align: center;
    font-size: 26px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.deleteButtonEgg {
    text-align: center;
    color: var(--black);
    background-color: var(--red);
    font-size: 16px;
    border-radius: 30px;
}
.deleteButtonEgg:active {
    background-color: rgb(206, 49, 49);
}
.timeForEgg {
    font-size: 24px;
    text-align: center;
    color: var(--orange);
    margin-bottom: 5px;
    margin-top: 5px;
}

#playButton {
    width: 75px;
    height: 75px;
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Icon {
    height: 40px;
    flex-shrink: 0;
}

.startTimerStyle {
    background-color: var(--green);
}
.pauseTimerStyle {
    background-color: var(--red);
}